################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MarlinCSharp/.vs/MarlinCSharp/v15
