################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MarlinCSharp/.vs/MarlinCSharp/v15
/MarlineGUI/.vs/MarlineGUI/v15
/MarlineGUI/MarlineGUI/bin/Debug
/MarlineGUI/MarlineGUI/obj/Debug
/MarlineGUI/MrlineCSharpNet/bin/Debug
/MarlineGUI/MrlineCSharpNet/obj/Debug
/MarlineGUI/.vs/MarlineGUI/v17
